@media screen and (max-width:840px){

    .formulario{

        width: 90%;
        
    }

    .formulario h1{
    
        font-size: 1.8rem;
        margin-bottom: 20px;
    }
    
    .formulario label{
        font-size: 1.3rem;
        
    }
}